* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 40px auto;
    background-color: black;
    height: 10vh;
}

.text {
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}

.wrapper {
    height: 80vh;
    display: grid;
    grid-template-columns: 6% 25% 6% 7% 8% 6% 15% 6% 8% 7% 6%;
    grid-template-rows: 10% 7% 13% 20% 12% 20% 5% 13%;
    grid-auto-rows: 100px;
    background-color: #C1F0C8;
}

.box1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: gray;
    border-radius: 3vh;
}

.box2 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: gray;
    border-radius: 1vh;
    align-content: center;
    color:white;
    padding-left:20px;
    letter-spacing: 5px;
}

.box3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: gray;
    border-radius: 2vh;
}

.box4 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: gray;
    border-radius: 2vh;
}

.box5 {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: gray;
    border-radius: 2vh;
}

.box6 {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: gray;
    border-radius: 2vh;
}
